
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    background: #de8ff1;
    color: #ffffff;
    line-height: 1.6;
}


header {
    background: #6A0DAD;
    color: #fff;
    padding: 15px;
    text-align: center;
}

header nav ul {
    list-style: none;
    text-align: center;
}

header nav li {
    display: inline-block;
    margin: 0 10px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

header p {
    margin-top: 10px;
    background: #FFD83D;
    color: #ffffff;
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
}

section {
    padding: 20px;
    text-align: center;
}

section h1,section h2 {
    color: #6A0DAD;
    margin-bottom: 10px;
}

section p {
    margin-bottom: 10px;
}

fieldset {
    background-color: #ccc;  
    width: 250px;             
    height: 200px;          
    margin: 50px auto;                 
}
img {
    display: block;
    margin: 15px auto;
    max-width: 100%;
    height: auto;
}

a, button {
    display: inline-block;
    margin: 5px;
    padding: 8px 12px;
    background: #FFD83D;
    color: #fffdfd;
    text-decoration: none;
    border: none;
    font-weight: bold;
}

/* Listas */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px;
}

form {
    display: grid;
    gap: 10px;
    margin: 0 auto;
    text-align: left;
}

label {
    font-weight: bold;
    color: #6A0DAD;
}

input,
textarea {
    padding: 8px;
    border: 1px solid #ccc;
    font: inherit;
}

button {
    background: #6A0DAD;
    color: #fff;
    cursor: pointer;
}

/* Footer */
footer {
    background: #6A0DAD;
    color: #fff;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
}

footer nav ul {
    list-style: none;
    text-align: center;
    margin-top: 10px;
}

footer nav li {
    display: inline-block;
    margin: 10 10px;
}

footer nav a {
    color: #6A0DAD;

}